[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
click = "*"
jsonschema = "*"
pyyaml = "*"
requests = "*"
openapi-spec-validator = "*"

[dev-packages]

[requires]
python_version = "3.10"
